{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": [1, "double"],
  },
  "globals": {
    "describe": true,
    "it": true
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  }
}
